<div id="chat-form">
    <div id="menu">
        <h4 class="welcome"><strong class="username-box"></strong>!</h4>
        <p class="logout"><input type="button" id="exit-btn" class="btn" value="Sign out" /></p>
        <div class="clearfix"></div>
    </div>
    <label for="user-title"> Title: </label>
    <input type="text" id="user-title" size="44" />
    <br/>
    <label for="user-message"> Message: </label>
    <input type="text" id="user-message" size="63" />
    <br/>
    <input type="button" id="submitmsg" class="btn" value="Send" />
</div>