<div id="login-form">
    <p>Please enter your name to continue:</p>
    <label for="login-name"> Name: </label>
    <input type="text" name="name" id="login-name" value="archangel"/> <br/>
    <label for="login-password"> Password: </label>
    <input type="text" name="name" id="login-password" value="michael"/> <br/>
    <input type="button" href="#/chat" class="btn" id="login-btn" value="Sign In" />
    <input type="button" href="#/chat" class="btn" id="register-btn" value="Register" />
</div>